<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url('<%= asset_url(@list.photo_path) %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
